@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

:root {
    --font-style:'Nunito Sans', sans-serif;
}

.MenuLabel {
    align-items: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    color: #7a7a7a;
    font-size: .75em;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-family: consolas;
}

.div-menu {
    display:flex;
    justify-content: center
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
    width: 400px;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 10px 0;
    border-radius: 10px;
    border: 0.1px solid #c8ff00;
    background-color: #18181B;
    box-shadow: 0 4px 8px 0 #c8ff00, 0 6px 20px 0 rgba(0, 0, 0.19);
}

a {
    text-decoration: none;
}

li {
    margin: auto;
    color: rgb(200, 255, 0);
    font-size: 20px;
    cursor: pointer;
}

li:after {
    display: block;
}

li:hover::after {
    transform: scaleX(10);
}